
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizeTube</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 front-sans antialiased">
        <!-- Navbar -->
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="index" class="text-white text-2xl font-bold hover:text-gray-300 transition-colors">SummarizeTube</a>
            <div>
                <a href="history" class="text-white hover:text-gray-300 transition-colors">History</a>
                <a href="login" class="text-white ml-4 hover:text-gray-300 transition-colors">Login</a>
                <a href="signup" class="text-white ml-4 hover:text-gray-300 transition-colors">Signup</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-gray-200 p-6 rounded-lg transition transform transform hover:scale-105 ">
            <section>
                <h2 class="text-xl mb-4 font-semibold">History</h2>
                <div class="space-y-4">
                    {% for video in videos reversed %}
                    <a href="detail/{{video.id}}" class="block bg-gray-100 shadow-md rounded-lg p-2 mb-4">
                        <h3>{{video.youtube_title}}</h3>
                    </a>
                    {% endfor %}
                    <!-- Repeat -->
                </div>
                
            </section>
        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6">
        Powered by Dang Hung Do</a>
    </footer>
</body>
</html